$font-family: barlow, sans-serif;
$title-color: purple;
$primary-color: rebeccapurple;
$navbar-font-size: 20px;
$subtitle-font-size: 30px;
$p-font-size: 1.2em;
$padding-titles: 10px;
$image-height: 150px;
$image-width: 150px; 
$form-color: white;
$card-height: 100%;
